[user]
	email = rspauldi@amd.com
	name = Randy J. Spaulding
[core]  
    editor = nano
[alias]
	aa = add --all
	au = update-index --assume-unchanged
	bv = branch -v --sort=committerdate
	chkpt = !git aa && git cm "chkpt" && git push && :
	cm = commit -m
	co = checkout
	ct = checkout --track
	dl = diff HEAD@{1} --
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ln = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph -n 
	l8 = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph -n 8
	l5 = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph -n 5
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	nau = update-index --no-assume-unchanged
	nb = checkout -b
	oset = remote set-url origin
	osa = remote set-url origin git@github.amd.com:ROCm/MIOpen.git
	osm = remote set-url origin git@github.com:ROCm/MIOpen.git
	osr = remote set-url origin git@github.com:randyspauldingamd/MIOpen.git
	ourl = config --get remote.origin.url
	ph = push -u origin HEAD
	pa = push -u amd
	pm = push -u mio
	pr = push -u rjs
	pu = push -u origin
	raa = remote add amd git@github.amd.com:ROCm/MIOpen.git
	ram = remote add mio git@github.com:ROCm/MIOpen.git
	rar = remote add rjs git@github.com:randyspauldingamd/MIOpen.git
	Rf = checkout HEAD --
	Rh = reset --hard
	sau = !git ls-files -v | grep "^[[:lower:]]"
	st = !git config --get remote.origin.url && echo "commit: $(git rev-parse HEAD)" && git status --short --branch
	us = restore --staged
